@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto';
    padding: 5px;
    color: #1f2937;
}
h1{
    background-color:#d1d5db;
    color:  #1f2937;
    padding: 10px;
    margin-top: 10px;
}
p{
    text-align: justify;
    font-size: 17;
}
#info{
    background-color: #d1d5db;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #d1d5db;
    text-align: left;
    padding: 10px;
  }
.maininfo{
    background-color: #d1d5db;
}
/* RGB: 0-255 */
/* Hex: 0-9[A-F] */
#me{
    border-radius: 5px;
}

/*Social*/
  .social {
            display: flex;
            justify-content: center;
            gap: 20px; /* Space between each icon */
            margin-top: 20px;
        }

        .social a {
            text-decoration: none;
            color: #333; /* Default color for icons */
            font-size: 24px; /* Size of the icons */
            transition: color 0.3s ease;
        }

        .social a:hover {
            color: #0073b1; /* Change color on hover */
        }

        .social a:nth-child(1):hover {
            color: #3b5998; /* Facebook */
        }

        .social a:nth-child(2):hover {
            color: #0077b5; /* LinkedIn */
        }

        .social a:nth-child(3):hover {
            color: #333; /* GitHub */
        }
/*End of Social*/